<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{PAGE_TITEL}{PAGE_POSITION}</title>
{PAGE_CSS_TAG}
{PAGE_ICON_TAG}
{PAGE_META_TAG}
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="100%" align="center" valign="top">
    <table border="0" cellspacing="1" width="800">
      {DESIGN_HEADER}
      {DESIGN_NAVIGATION}
      <tr>
      {DESIGN_SUBTABLE_LEFT}
        <td width="100%" align="left" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="100%" align="center" valign="top">{DESIGN_ADS_CT}{ERROR}{CONTENT}{FOOTER}</td>
          </tr>
        </table>
        <p></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>